@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header {
  color: white;
  background-color: blueviolet;
  width: 100vw;
  padding: 20px; /* Añade espacio alrededor del contenido del header */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Establece el efecto de sombra */
}
h1 {
  margin: 0;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(30%, 400px, 500px));
  gap: 15px;
  margin: 10px;
}
.book {
  border: 1px solid black;
}

/* FOOTER */
footer {
  background-color: #8a2be2; /* BlueViolet más oscuro */
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.footer-content {
  max-width: 960px; /* Puedes ajustar el ancho máximo según tu preferencia */
  margin: 0 auto; /* Centra el contenido del footer */
  padding: 20px; /* Añade espacio alrededor del contenido */
  color: white; /* Color del texto */
}

.footer-content p {
  margin-bottom: 10px; /* Añade espacio debajo del párrafo */
}

.footer-content a img {
  width: 40px; /* Ajusta el tamaño de la imagen de GitHub según sea necesario */
  height: auto;
}
